.Reviews{
    display: flex;
    height: 100vh;
    background: linear-gradient(225deg, rgba(0,0,0,1) 10%, rgba(13,13,13,1) 35%, rgba(17,17,17,1) 77%, rgba(32,32,32,1) 100%);
    min-height: 500px;
    .left{
        width: 30%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 400px;
        flex-direction: column;
        .current-title{
            width: 410px;
            font-size: 20px;
            margin-bottom: 10px;
            color: white;
            box-sizing: border-box;
            display: flex;
            gap: 5px;
            justify-content: space-between;
            .title{
                width: fit-content;
            }
            .line{
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                width: 0;
                position: relative;
                top: 8px;
            }
        }
        .books{
            max-height: 580px;
            min-height: 500px;
            padding-right: 20px;
            overflow-y: scroll;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            .book{
                width: 120px;
                height: 120px;
                background: rgba(255, 255, 255, 0.1);
                cursor: pointer;
                font-size: 90px;
                font-weight: lighter;
                text-align: center;
                padding: 5px;
                img{
                    cursor: pointer;
                    height: 100%;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    .right{
        padding: 150px 50px 0;
        width: 70%;
        box-sizing: border-box;
        display: flex;
        gap: 50px;
        justify-content: center;
        .cover-img{
            width: 350px;
            display: flex;
            flex-direction: column;
            gap: 7px;
            img{
                width: inherit;
            }
        }
        .review{
            width: 380px;
            height: 650px;
            padding: 0 20px;
            font-size: 20px;
            line-height: 30px;
            overflow: scroll;
            .spacing{
                height: 100px;
            }
        }
    }
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    width: 100%;
    padding: 40px 50px;
    box-sizing: border-box;
    background: rgba(10, 10, 10, 0.85);
    border-top: 1px solid var(--greyborder);
    .buttons{
        display: flex;
        gap : 30px;
    }
    .button:hover{
        color: white;
        cursor: pointer;
    }
}