.Users{
    display: flex;
    height: 100vh;
    padding-left: 100px;
    background: rgba(0,0,0,0.8);
    min-height: 500px;
    .user-list{
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 300px;
        width: 125px;
        padding: 20px;
        overflow-y: scroll;
        .user{
            font-size: 26px;
            cursor: pointer;
            &:hover{
                color: white;
            }
        }
    }
    .description{
        position: absolute;
        left: 53%;
        top: 45%;
        font-size: 20px;
        padding: 20px;
        color: white;
    }
    .users-footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 40px 50px;
        box-sizing: border-box;
        background: rgba(10, 10, 10, 0.85);
        border-top: 1px solid var(--greyborder);
        input{
            padding: 2px;
            background: none;
            border: 1px solid rgba(255,255,255,0.3);
            font-size: 20px;
            width: 130px;
        }
    }
}